#include "D_Keyboard.dtsi"

&kscan0 {
    diode-direction = "col2row"; // 回路図通りColからRowへ流す
    
    /* col2rowの場合、col-gpiosが「送り側(Active)」、row-gpiosが「受け側(Waiting)」になります */
    col-gpios
        = <&gpio0 5  GPIO_ACTIVE_HIGH> 
        , <&gpio1 11 GPIO_ACTIVE_HIGH> 
        , <&gpio1 12 GPIO_ACTIVE_HIGH> 
        , <&gpio1 13 GPIO_ACTIVE_HIGH> 
        , <&gpio1 14 GPIO_ACTIVE_HIGH> 
        , <&gpio1 15 GPIO_ACTIVE_HIGH> 
        ; 

    row-gpios
        = <&gpio0 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
        , <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
        , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
        , <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
        ;
};

&spi0 { 
    status = "disabled";
};

//&pinctrl {
//    spi0_default: spi0_default {
//        group1 {
//            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
//                <NRF_PSEL(SPIM_MOSI, 0, 4)>,
//                <NRF_PSEL(SPIM_MISO, 0, 4)>;
//        };
//    };
//
//    spi0_sleep: spi0_sleep {
//        group1 {
//            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
//                <NRF_PSEL(SPIM_MOSI, 0, 4)>,
//                <NRF_PSEL(SPIM_MISO, 0, 4)>;
//            low-power-enable;
//        };
//    };
//};
