config SHIELD_D_KEYBOARD_R
    def_bool $(shields_list_contains,D_Keyboard_r)

config SHIELD_D_KEYBOARD_L
    def_bool $(shields_list_contains,D_Keyboard_l)

config ZMK_SPLIT_BLE_CENTRAL
    bool "Enable BLE central role for split keyboards"
