if SHIELD_D_KEYBOARD_R

config ZMK_KEYBOARD_NAME
    default "D_Keyboard"

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_D_KEYBOARD_R || SHIELD_D_KEYBOARD_L

config ZMK_SPLIT
    default y

config INPUT
    default y

config ZMK_POINTING
    default y

config SPI
    default y

config PMW3610
    bool "Enable PMW3610 support"
    default y

config PMW3610_SWAP_XY
    bool "Swap X and Y axes for PMW3610"
    default y

config RGBLED_WIDGET_BATTERY_LEVEL_HIGH
    default 30

config RGBLED_WIDGET_BATTERY_LEVEL_CRITICAL
    default 10

config SHIELD_D_KEYBOARD_R
    def_bool y

endif
